
<h1 class="mt-4">Usuários</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Consultar</li>
</ol>

<div class="row">
    <div class="col-md-2">
        <button class="btn btn-warning" (click)="novoCadastro()" >
            <i class="fa fa-plus"></i>
            Novo
        </button>
    </div>

    <div class="col-md-12 mt-4">
        <table class="table table-condensed table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nome</th>
                    <th>Email</th>
                    <th>Cidade</th>
                    <th>Endereço</th>
                    <th>Data Cadastro</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let usuario of usuarios">
                    <td>{{ usuario.id }}</td>
                    <td>{{ usuario.name }}</td>
                    <td>{{ usuario.email }}</td>
                    <td>{{ usuario.cidade }}</td>
                    <td>{{ usuario.endereco }}</td>
                    <td>{{ usuario.createdAt }}</td>
                    <td>
                        <button class="btn btn-primary" 
                        routerLink="/usuarios-form/{{usuario.id}}">
                            <i class="far fa-edit"></i>
                        </button>
                        <button class="btn btn-danger ml-1"
                                
                                data-toggle="modal" data-target="#modalDelecao" >
                            <i class="fa fa-trash"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!--MODAL-->
    <div id="modalDelecao" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Confirmação</h4>
                </div>
                <div class="modal-body">
                    Hello
                </div>
            </div>
        </div>
    </div>
</div>